#fade {
    position: fixed;
    width: 100%!important;
    height: 100%!important;
    background-color: black;
	z-index: 9999;
	top:0px;
    left:0px;
    display:block;
}

#loose {
	opacity: 0;
	visibility: hidden;
    position: fixed;
    width: 100%!important;
    height: 100%!important;
    background-color: black;
	z-index: 9999;
	top:0px;
    left:0px;
    display:block;
    color:white;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

/*.ui-overlay-a{
	background-color:black;		ca sa imi faca prima tranzitie neagra
}*/

/*ca sa nu se miste textu din a doua paginaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
/*#game{
	position: absolute;
    width: 100%;				
    height: 100%;
}*/
/*ca sa nu se miste textu din a doua a si scoate din js functia si pune clasic a hreffffffffffffffffff*/

.header{
	width: 100%; 
	display: block; 
	margin: 0 auto;
}
.header img{
	margin: 0 auto !important; 
	width:100%;
}

#start_page{

}

#play{
	margin: 0 auto; 
    width: 40%;
    margin-top:30%;
	display: -webkit-box;
    position: relative;
    opacity: 0;
}

#baterii{
	text-align: center;
	margin-top:25%
}

#baterii img{
	width: 10%;
    margin-right: 4%;
    margin-left: 4%;
}


/*#play img{
    margin: 0 auto; 
    width: 40%;
    left: 0;
    right: 0;
    margin-top:20%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

.baterii{
  margin-top: 80%;
  text-align: center;
}

.baterii img {
    width: 10%;
    left: 0;
    right: 0;
    margin-right: 4%;
    margin-left: 4%;
    position: relative;
    display: inline-block; 
}*/


.photos{
	margin-top:5%;
	margin-bottom:0%;
	position: relative;
  /*margin-top:5%;*/
}

.album{
	position: relative;
	/*margin-top:1%;*/
	margin:0 auto;
}


.footer{
	position:fixed;
	bottom:0;
	width: 100%;
}

.footer p{
	display:inline;
	margin: 0 auto;
}

.ads{
	left: 3%;
	position: relative;
}

.help{
	float:right;
	right: 3%;
	position: relative;
}

.volume{
	float:right;
	right: 5%;
	position: relative;
}

#battery{
	position: absolute;
	width: 80%;
	left: 0%;
	right: 0%;
	top: 0.8%;
}

.tools{
	margin-top: 17%;
	padding: 2%;
}

.photo{
	box-shadow: 0 0 1px 3px green;
	padding-bottom:100%;
	position: relative;
	overflow: hidden;
	background-image:url("../img/Album1/1.jpg");
	background-size: cover;
}

.blur{
	display:block;
	/*visibility: hidden;*/
	position: absolute;
 	width: 100%;
 	height: 100%; 	
 	background-size: contain;
 	-webkit-transform: translateZ(0);
}


.menu{
	margin-top:3%;
}

#item, #go, #help{
	display: inline;
	position: relative;
	width: 32%;
	padding: 0%;
	margin: 0 auto;
}

.header-two{
	width: 100%; 
	display: block; 
	margin: 0 auto;
	height: 9%;
	position: absolute;
}

.progressBar{
    position: absolute;
/*    box-sizing: border-box;*/
    box-shadow: 1px 1px 3px #777 inset  ;
    -webkit-box-shadow: 1px 1px 6px #777 inset;
    height: 100%;
/*    max-height: 24px;
    overflow: hidden;*/
    width: 100%;
    border: 1px solid rgb(193, 193, 193);
    background-color: rgb(224, 224, 224);
    border-radius: 6px;
    -webkit-transform: translateZ(0);
}

.progress {
    position: absolute;
    box-sizing: border-box;
    box-shadow: inset 0px 0 5px 0 #777;
    -webkit-box-shadow: inset 0px 0 5px 0 #777;
    right: 0px;
    height: 100%;
/*    margin-top: 0px;*/
    background-color: orange; 
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;   
    -webkit-transition: width 1s, background 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, background 1s;
    -webkit-transform: translateZ(0);
}
.progressText {
    position: absolute;
    height: 24px;
    line-height: 24px;
    width: 24px;
    left: 50%;
    margin-left: -12px;
    text-align: center;
}






/*//////////////////////////////////////////////////////////////////////////////////////*/

body, html{
	margin: 0;
	padding:0;
	position: absolute;
	background: black !important;   /*ca sa imi faca prima tranzitie neagra*/
	height:100%;
	width:100%;
}

/*.ui-page {
	-webkit-backface-visibility: hidden;
} */

.swiper-container {
	width: 100%;
	height: 20%;
	color: #fff;
	/*text-align: center;*/
	background-color: black;
	bottom:0;
	position: absolute;
	display:block;
	font-size: 0;
}
.swiper-wrapper{
	height:100%!important;
}
.swiper-slide{
	height:100%!important;
}

.red-slide {
	background-image: url("../img/film_holes.svg");
	background-repeat: round;
	background-size: contain;
}
.blue-slide {
	background-image: url("../img/film_holes.svg");
	background-repeat: round;
	background-size: contain;
}
.orange-slide {
	background-image: url("../img/film_holes.svg");
	background-repeat: round;
	background-size: contain;
}

.image {	
	margin-top: 1%;
}

.hole {
	width: 2%;
	height: 6%;
	background: grey;
	display: inline-block;
	margin-left: 4.3%;
	margin-top: 1%;
}

.selected {
	-moz-box-shadow: 0 0 7px 4px #FFFFFF; 
	-webkit-box-shadow: 0 0 7px 4px #FFFFFF; 
	box-shadow: 0 0 7px 4px #FFFFFF;
}
/*.swiper-slide, .swiper-slide-visible, .swiper-slide-active{
	height:50%;
}*/

.pagination {
	position: absolute;
	z-index: 20;
	text-align:center;
	/*bottom: 16%;*/
	font-size: 0;
	bottom:-1px;
	left: 0;
	right: 0;
}
.swiper-pagination-switch {
	display: inline-block;
	/*width: 8px;*/
	/*width:31%;*/
	height: 4px;
	/*border-radius: 8px;*/
	background: #222;
	/*margin-right: 5px;*/
	/*opacity: 0.8;*/
	/*border: 1px solid #fff;*/
}
.swiper-visible-switch {
	background: #aaa;
}
.swiper-active-switch {
	background: #fff;
}